html,
body {
	height: 100%;
	font-family: 'OpenSans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4;
	color: $dark-500;
	background-color: #fff;
}

button,
a,
input,
textarea {
	outline: transparent;
}

button{
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 15px;
}

section{
	padding: 70px 0;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.title {
	@extend %ruda-600;
	font-size: 32px;
	color: $dark-900;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}

.input {
	border: none;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.btn {
	display: inline-block;
	padding: 10px 24px;
	border: none;
	border-radius: 6px;
	color: #fff;
	font-size: 18px;
	background-color: $green-900;
	@extend %transition;

	&:hover {
		background-color: #4D800C;
	}

	&:focus {
		box-shadow: 0px 0px 0px 4px $green-200;
	}

	&:active {
		color: rgba(255, 255, 255, 0.5);
	}
}

.btn--transparent {
	background-color: transparent;
	border: 1px solid $green-900;
	color: $green-900;
	@extend %transition;

	&:hover {
		background-color: $green-200;
	}

	&:active {
		color: rgba(99, 166, 14, 0.5);
		background-color: #fff;
		box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
	}
}

.input-btn {
	border-radius: 0;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.slick-prev,
.slick-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 60px;
	height: 60px;
	font-size: 0;
	border: none;
	border-radius: 6px;
	background-color: rgba(255, 255, 255, 0.8);
	@extend %bg-img-auto;
	@extend %transition;
	z-index: 1;

	&:hover {
		background-color: $green-200;
	}

	&:focus {
		border: 1px solid $green-900;
	}
}

.slick-prev {
	left: -255px;
	background-image: url('../images/slider/arrow-left.svg');

	&:hover {
		background-image: url('../images/slider/left-green.svg');
	}

	&:active {
		background-color: rgba(255, 255, 255, 0.8);
		background-image: url('../images/slider/left-green.svg');
	}
}

.slick-next {
	right: -255px;
	background-image: url('../images/slider/arrow-right.svg');

	&:hover {
		background-image: url('../images/slider/right-green.svg');
	}

	&:active {
		border: none;
		background-color: rgba(255, 255, 255, 0.8);
		background-image: url('../images/slider/right-green.svg');
	}
}

.counter {
  display: flex;

  &__btn {
    position: relative;
    width: 24px;
    height: 24px;
    border: none;
    background-color: $green-900;
    @extend %bg-img-auto;
    cursor: pointer;
  }

  &__btn--plus {
    background-image: url('../images/icons/plus.svg');
    border-radius: 0 3px 3px 0;
  }

  &__btn--minus {
    background-image: url('../images/icons/minus.svg');
    border-radius: 3px 0 0 3px;
  }

  &__num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 24px;
    background-color: $green-200;
  }
}

.hidden{
	display: none;
}