$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;

$silver-600: #C1C1C1;
$silver-100: #F6F6F6;

$red-900:#CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;

$green-900: #63A60F;
$green-200: #E0EDCF;
$green-100: #EFF6E7;



%opensans-700 {
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;
}

%opensans-600 {
  font-family: 'OpenSans', sans-serif;
  font-weight: 600;
}

%opensans-400 {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

%opensans-300 {
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
}

%opensans-500 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

%ruda-900 {
  font-family: 'Ruda', sans-serif;
  font-weight: 900;
}

%ruda-700 {
  font-family: 'Ruda', sans-serif;
  font-weight: 700;
}

%ruda-600 {
  font-family: 'Ruda', sans-serif;
  font-weight: 600;
}

%ruda-400 {
  font-family: 'Ruda', sans-serif;
  font-weight: 400;
}

%bg-img-auto {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

%bg-img-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%transition {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border 0.3s ease,
    opacity 0.3s ease,
    width 0.3s ease,
    box-shadow 0.3s ease;
}