.footer {

  &__top {
    padding: 30px 0 20px;
    background-color: $dark-800;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
    height: 60px;

    @include r(991) {
      width: 200px;

      .logo__img {
        max-width: none;
        height: 60px;
      }
    }

    @include r(576) {
      width: 200px;
      height: 60px;
      margin: 0 auto;
      margin-bottom: 15px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include r(1200) {
      flex-wrap: wrap;
    }

    @include r(1200) {
      flex-wrap: wrap;
    }
    @include r(576) {
      margin: 0 -15px;
    }
  }

  &__label {
    display: block;
    margin-bottom: 18px;
    line-height: 1;
    color: #fff;
  }

  &__form {
    margin-right: 150px;

    @include r(1368) {
      margin-right: 20px;
    }

    @include r(1200) {
      margin-right: 20px;
    }

    @include r(991) {
      width: 80%;
      margin-bottom: 20px;
    }

    @include r(576) {
      order: 1;
      width: 100%;
      margin-right: 0;
      margin-bottom: 0;
      padding: 20px 30px 0;
      border-top: 1px solid $dark-500;
    }
  }

  &__form-wrapper {
    display: flex;
    max-width: 306px;
    width: 100%;

    @include r(991) {
      max-width: 80%;
    }

    @include r(768) {
      max-width: 100%;
    }
  }

  &__input {
    width: 59%;
    padding: 12px;
    border-radius: 6px 0 0 6px;

    &::placeholder {
      line-height: 1.1;
      color: #4F4F4F;
    }

    @include r(991) {
      width: 70%;
    }

    @include r(576) {
      width: 60%;
    }
  }

  &__btn {
    width: 41%;
    padding: 12px 16px;
    background-color: $green-900;
    @extend %opensans-700;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;

    @include r(991) {
      width: 30%;
    }

    @include r(576) {
      width: 40%;
    }
  }

  &__label {

    @include r(991) {
      margin-bottom: 10px;
    }

    @include r(576) {
      margin-bottom: 20px;
    }
  }

  &__menu {
    column-count: 3;
    column-gap: 75px;
    max-height: 115px;
    margin-right: auto;

    @include r(1368) {
      margin: 0 auto;
      column-gap: 28px;
    }

    @include r(1200) {
     
      column-gap: 50px;
      margin-bottom: 20px;
    }

    @include r(576) {
      margin: 0;
      position: relative;
      order: 0;
      column-count: initial;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 350px;
      max-height: initial;
      margin: 0 auto;
      padding: 25px 0;
    }
  }

  &__item {
    width: 100%;
    margin-bottom: 17px;
    padding: 1px;

    @include r(576) {
      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    color: #fff;
    @extend %transition;
    border: 1px solid transparent;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
      color: #E0EDCF;
    }

    &:focus {
      opacity: 1;
      color: fff;
      border-color: #fff;
      border-radius: 3px;
    }
  }

  &__tel {
    display: block;
    margin-bottom: 20px;
    color: #fff;

    @include r(1200) {
      margin-bottom: 0;
    }

    @include r(768) {
      width: 50%;
      margin-bottom: 20px;
    }

    @include r(768) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__address {
    display: block;
    margin-bottom: 20px;

    @include r(1200) {
      margin-bottom: 0;
    }

    @include r(768) {
      width: 50%;
      margin-bottom: 20px;
    }

    @include r(768) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__address-link {
    color: #fff;
  }

  &__social {
    display: flex;
    max-width: 220px;
    flex-wrap: wrap;
    gap: 10px;

    @include r(576) {
      margin-bottom: 18px;
    }
  }


  &__icon {
    fill: white;
    border-radius: 3px;

    &:hover {
      opacity: 0.7;
    }

    @include r(1200) {
      padding-top: 5px;
    }

    @include r(576) {
      padding-top: 0;
    }
  }


  &__social-link {

    &:focus {
      .footer__icon {
        outline: 2px solid $green-200;
      }
    }

    &:active {
      .footer__icon {
        outline: transparent;
        fill: $green-200;
      }
    }
  }

  &__bottom {
    padding: 30px 0;
    background-color: $dark-800;

    @include r(576) {
      padding: 20px 0;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include r(576) {
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
    }
  }

  &__copyright {
    color: #fff;

    @include r(576) {
      order: 1;
    }
  }

  &__pay {
    display: flex;

    @include r(576) {
      order: 0;
      margin-bottom: 25px;
    }
  }

  &__pay-system:not(:last-child) {
    margin-right: 25px;
  }

  &__contacts {
    @include r(1200) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      // border-top: 1px solid $dark-500;
      // border-bottom: 1px solid $dark-500;
    }

    @include r(768) {
      flex-wrap: wrap;
      padding-top: 10px;
      border-bottom: none;
      justify-content: flex-start;
    }

    @include r(576) {
      padding-top: 10px;
      order: -1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: none;
      border-bottom: 1px solid $dark-500;
    }
  }
}