.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  text-transform: uppercase;

  &__list {
    gap: 10px;
    row-gap: 0;
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;

    &:nth-child(2) {
      margin-right: auto;
    }

    &:nth-child(3) {
      width: 40%;
      justify-content: flex-end;
    }
  }

  &__item-left {
    padding: 15px 0;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__item {
    padding: 15px 0;

    &:not(:first-child) {
      margin-left: 14px;
    }


    &--button {
      display: none;
    }
  }

  &__link {
    @extend %opensans-700;
    font-size: 13px;
    color: #fff;
    letter-spacing: 0.03em;
    @extend %transition;
    border: 2px solid transparent;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
      color: #E0EDCF;
    }

    &:focus {
      opacity: 1;
      color: fff;
      border-color: #fff;
      border-radius: 3px;
    }
  }

  &__link--left {
    position: relative;
    padding-left: 44px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      @extend %bg-img-auto;
    }
  }

  &__link--adress {
    &::before {
      height: 23px;
      width: 32px;
      background-image: url('../images/icons/adress.svg');
    }
  }

  &__link--tel {
    &::before {
      height: 22px;
      width: 22px;
      background-image: url('../images/icons/tel.svg');
    }
  }
}

@media (max-width: 991px) {

  .menu__item-left:not(:last-child) {
    margin-right: 20px;
  }

}

@media (max-width: 815px) {
  .menu {
    &__list {
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      max-width: 100%;
    }

    &__link {
      font-size: 12px;
    }

    &__list:nth-child(3) {
      display: none;
    }

    &__item--button {
      margin-right: auto;
      display: block;
    }

    &__burger-line {
      display: block;
      width: 30px;
      height: 2px;
      background-color: #fff;
    }

    &__burger-line--mid {
      margin: 8px 0;
    }
  }
}

@media (max-width: 576px) {
  .menu {
    padding-left: 5px;

    &__link {
      display: block;
    }

    &__link--adress,
    &__link--tel {
      font-size: 0;

      &:focus {
        border: none;
      }
    }

    &__link--adress {
      margin-right: 15px;
    }

    &__link--tel {
      padding-left: 0;

      &::before {
        left: -25px;
      }
    }
  }
}