.product {
  position: relative;
  max-width: 300px;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  padding: 12px 12px 18px;
  transition: border 0.3s;
  &:hover{
    border-color: $green-900;
  }
  @include r(991) {
    max-width: 220px;
    padding: 10px;
    min-height: 100%;
  }

  @include r(576) {
    max-width: 170px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__offer {
    min-height: 42px;
    font-size: 0;

    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &-catalog {
      li {
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }

      @include r(1378) {
        min-height: 0;
      }
    }

    @include r(576) {
      div:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__new,
  &__discount,
  &__hit {
    padding: 3px 6px;
    @extend %opensans-700;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    border-radius: 6px;
    background-color: $green-900;
    color: #fff;
  }

  &__discount {
    display: inline-block;
    background-color: $red-900;
  }

  &__hit {
    display: inline-block;
    background-color: $orange-900;
  }

  &__heart {
    fill: $silver-600;

    @include r(576) {
      width: 25px;
      height: 21px;
    }
  }

  &__favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    @extend %transition;

    &--position{
      position: absolute;
      top: 12px;
      right: 12px;
    }

    &:hover {
      .product__heart {
        fill: $yellow-900;
      }
    }

    &:focus {
      outline: 2px solid $green-200;
    }

    &:active {
      .product__heart {
        outline: transparent;
        fill: rgba($yellow-900, 0.5);
      }
    }

    &-catalog {
      position: absolute;
      top: 8px;
      right: 4px;

    }

    @include r(576) {
      width: 30px;
      height: 30px;
    }

  }

  &__favorite.product__favorite--active {
    .product__heart {
      fill: $yellow-900;
    }
  }

  &__overlay {
    display: block;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      min-width: 296px;
      transform: translateX(-12px);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      @extend %transition;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: #fff;
      background-image: url('../images/icons/search-green.svg');
      @extend %bg-img-auto;
    }

    &:hover {
      &::before {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &::after {
        z-index: 3;
      }
    }

    @include r(991) {
      min-width: 100%;

      &::before {
        width: 100%;
        min-width: 100%;
        transform: translate(0);
      }
    }

    @include r(768) {
     
      &::before {
        width: 100%;
        min-width: 100%;
        transform: translate(0);
      }
    }
    @include r(576) {
      &::before {
        min-width: 115%;
        transform: translate(-10px);
      }
    }
  }

  &__img {
    position: relative;
    transform: translateX(-11px);
    max-width: 296px;
    max-height: 225px;
    object-fit: cover;
    margin-bottom: 10px;
    z-index: 1;

    @include r(991) {
      height: 125px;
      min-height: 125px;
      max-width: 215px;
      transform: translate(-7px);
    }

    @include r(576) {
      margin: 0 auto;
      width: 100%;
      max-height: 180px;
      transform: translate(0);
      margin-bottom: 10px;
    }
  }

  &__descr {
    max-width: 270px;
    min-height: 60px;
    padding-left: 5px;
    margin-bottom: 10px;
    @extend %opensans-600;
    font-size: 14px;
    color: $dark-900;
    letter-spacing: 0.03em;
    @include line-clamp(3);

    @include r(991) {
      max-width: 100%;
      max-height: 95px;
      word-break: break-all;
      overflow: auto;
    }

    @include r(576) {
      min-height: 20px;
      max-height: 60px;
      word-break: normal;
      overflow: hidden;
      margin-bottom: 52px;
    }
  }

  &__buy {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include r(991) {
      align-items: flex-end;
    }
  }

  &__price {
    line-height: 1;
    letter-spacing: 0.03em;
    padding-left: 10px;

    @include r(991) {
      padding-left: 0;
    }
  }

  &__old-price {
    position: relative;
    margin-bottom: 3px;
    color: $silver-600;

    &::after {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 45px;
      height: 1px;
      background-color: $silver-600;
      transform: rotate(-14.99deg);
    }
  }

  &__counter {
    margin-right: 24px;
    margin-left: auto;
  }

  &__purchase {
    width: 32px;
    height: 32px;
    margin-right: 6px;
    padding: 0;
    background-color: $green-900;
    border: none;
    border-radius: 6px;
    background-image: url('../images/best-products/cart.svg');
    @extend %bg-img-auto;
    @extend %transition;

    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

// карточки товаров в виде линий (страница каталога)
.product {

  &--line {
    position: relative;
    max-width: 466px;
    max-height: 162px;
    padding: 10px 18px 10px 0;

    @include r(1378) {
      padding: 5px 5px 5px 0;
      max-width: 350px;
      max-height: 150px;
    }

    @include r(991) {
      max-width: 100%;
      max-height: 150px;
    }

    .content__rating {
      transform: translateY(0);
    }

    .product__info {
      position: absolute;
      top: 5px;
      left: 5px;
      z-index: 5;
    }

    .product__offer li:not(:last-child) {
      margin-bottom: 5px;
    }

    .product__wrapper {
      display: flex;
    }

    .product__inner {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;

      @include r(991) {
        width: 100%;
      }
    }

    .product__img {
      max-width: 200px;
      max-height: 142px;
      transform: translateX(0);

      @include r(1378) {
        max-width: 85px;
      }

      @include r(991) {
        max-width: 130px;
        min-height: initial;
        max-height: 130px;
      }
    }

    .product__favorite {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 18px;
    }

    .product__overlay {
      margin-right: 18px;

      &:before {
        min-width: 200px;
        transform: translateX(0);
      }

      @include r(1378) {
        margin-right: 10px;

        &::before {
          min-width: initial;
          max-width: 85px;
        }
      }

      @include r(991) {
        min-width: initial;

        &::before {
          min-width: initial;
          max-width: 130px;
        }
      }
    }

    .product__descr {
      max-width: 171px;
      padding-left: 0;

      @include r(991) {
        max-width: 80%;
        min-height: 20px;
      }
    }

    .product__buy {
      width: 230px;
      margin-bottom: 5px;

      @include r(991) {
        width: 100%;
      }
    }

    .product__price {
      &-line {
        padding-left: 0;
      }
    }
  }
}