.aside-filters {
  width: 30%;
  max-width: 300px;
  transition: transform 0.5s;
  overflow: auto;

  @include r(778) {
    position: fixed;
    transform: translateX(-200%);
    top: 0;
    left: 0;
    z-index: 20;
    min-width: 300px;
    background-color: #fff;
    padding-top: 75px;
    padding-right: 20px;
    height: 100%;
  }

  &--active {
    transform: translateX(0);
  }

  &__close {
    display: none;

    @include r(778) {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
background-size: 18px 18px;
     
    }
  }

  &__categories {
    margin-bottom: 30px;
    transition: all 0.3s;
  }

  &__title-btn {
    position: relative;
    width: 100%;
    padding: 18px 18px 15px;
    @extend %ruda-400;
    font-size: 24px;
    letter-spacing: 0.03em;
    line-height: 1.2;
    border: 1px solid $silver-600;
    border-radius: 6px;
    text-align: left;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      width: 18px;
      height: 11px;
      background-image: url('../../../images/catalog/arrow-up.svg');
      @extend %bg-img-auto;
      z-index: 1;
      transition: transform 0.3s;
      transform: rotate(180deg) translateY(5px);
    }

    &--active {
      border-radius: 6px 6px 0 0;

      &::after {
        transform: rotate(0) translateY(-5px);
      }
    }

    @include r(991) {
      padding-left: 8px;

      &:after {
        right: 13px;
      }
    }
  }

  &__menu {
    overflow: auto;
    border: 1px solid $silver-600;
    border-top: none;
    transform-origin: 0 0;
    transform: scaleY(0);
    max-height: 0;
    padding: 0;
    transition: transform 0.2s linear,
      max-height 0.2s linear,
      padding 0.2s linear;

    &--active {
      transform: scaleY(1);
      padding: 18px;
      max-height: 300px;
      border-radius: 0 0 6px 6px;
    }
  }

  &__item {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $dark-500;

    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }

  &__link {
    color: inherit;
  }

  &__checkboxes {
    margin-bottom: 30px;
    transition: all 0.3s;
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }

    &+label::before {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid $silver-600;
      background-color: $silver-100;
      border-radius: 3px;
      margin-right: 0.5em;
      @extend %bg-img-auto;
      transition: border 0.3s;
    }

    &:checked+label::before {
      border-color: $dark-500;
      background-color: $silver-100;
      background-image: url("../../../images/catalog/checked.svg");
    }

    &:not(:disabled):not(:checked)+label:hover::before {
      border-color: $dark-500;
    }

    &-none+label::before {
      display: none;
    }

    &-none:checked+label {
      color: $green-900;
    }



  }

  &__label {
    position: relative;
    vertical-align: middle;

  }
}

.price {

  position: relative;
  min-height: 120px;

  @include r(991) {
    padding: 10px;
  }

  &__label {
    position: absolute;
    top: 20px;
    @extend %ruda-400;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $silver-600;

    &-from {
      left: 18px;

      @include r(991) {
        top: 10px;
        left: 10px;
      }

      @include r(576) {
        top: 20px;
        left: 12px;
      }
    }

    &-to {
      right: 18px;

      @include r(991) {
        top: 60px;
        left: 10px;
      }

      @include r(576) {
        top: 20px;
        right: 12px;
        left: initial;
      }
    }
  }

  &__input-from,
  .price__input-to {
    width: 80px;
    height: 40px;
    padding: 5px;
    border: 1px solid $silver-600;
    border-radius: 3px;
    background-color: $silver-100;
    text-align: center;
    color: $dark-500;

    &:focus {
      box-shadow: 0px 0px 0px 3px #E0EDCF;
    }
  }

  &__item {
    margin-top: 42px;

    @include r(991) {
      margin-top: 80px;
    }

    @include r(576) {
      margin-top: 50px;
    }
  }
}


.irs {
  &--flat .irs-line {
    top: 30px;
    height: 2px;
    width: 264px;
    background-color: $silver-600;

    @include r(991) {
      width: 100%;
    }
  }

  &--flat .irs-bar {
    top: 30px;
    height: 2px;
    background-color: $green-900;
  }

  &--flat .irs-handle {
    top: 22px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $green-900;

    i:first-child {
      display: none;
    }
  }
}


::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}