.content {
  width: 75%;

  @include r(778) {
    width: 100%;
  }

  &__filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 50px;

    @include r(576) {
      justify-content: start;
      margin-bottom: 30px;
    }
  }

  &__sprite-box,
  .content__sprite-line {
    fill: $silver-600;
  }

  &__btn {
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $silver-100;
    border-radius: 3px;

    &:not(:last-child) {
      margin-right: 15px;

      @include r(576) {
        margin-right: 10px;
      }
    }

    &--active {

      .content__sprite-box {
        fill: $green-900;
      }

      .content__sprite-line {
        fill: $green-900;
      }
    }

    &-hide {
      display: none;

      @include r(778) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-lines,
    &-blocks {
      @include r(576) {
        display: none;
      }
    }
  }

  &__form {
    display: flex;
  }

  &__blocks,
  .content__lines {
    display: none;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 50px;

    &--active {
      display: flex;
    }

    @include r(1378) {
      justify-content: center;
    }

  }

  &__blocks {
    gap: 30px;

    @include r(991) {
      gap: 15px;
      margin-bottom: 25px;
    }

    @include r(576) {
      gap: 5px;
      margin-bottom: 15px;
    }
  }

  &__lines {
    gap: 30px;

    &--active {
      @include r(1378) {
        gap: 15px;
      }
    }
  }

  &__lines-item {

    @include r(991) {
      width: 80%;
    }
  }

  &__product {
    max-height: 411px;
    padding: 12px 12px 20px;

    & .product__offer {
      li {
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }

      @include r(1378) {
        min-height: 30px;
      }
    }

    @include r(1378) {
      max-width: 250px;
      margin: 0 auto;

      .product__overlay {
        &::before {
          right: initial;
          left: 50%;
          transform: translateX(-50%);
          min-width: 100%;
        }
      }
    }

    @include r(991) {
      max-width: 235px;
    }

    @include r(778) {
      max-width: 235px;

      .product__descr {
        min-height: 60px;
      }
    }

    @include r(576) {
      max-width: 169px;
      max-height: 345px;
      padding: 8px 8px 20px;

      .product__descr {
        margin-bottom: 45px;
      }

      .card__quantity {
        position: relative;
        z-index: 10;
        font-size: 8px;
        line-height: 1;
      }

      .product__info {
        margin-bottom: 10px;
      }
    }
  }

  &__img {
    object-fit: contain;
    width: 298px;
    height: 215px;
    margin-bottom: 0;

    @include r(1378) {
      width: 240px;
    }

    @include r(991) {
      width: 233px;
      transform: translateX(-12px);
    }

    @include r(576) {
      min-height: initial;
      max-width: 165px;
      height: 125px;
      transform: translateX(-6px);
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;

    @include r(576) {
      margin-top: -5px;
      margin-bottom: 10px;
    }
  }

  &__rating {
    position: relative;
    transform: translateY(-5px);
    z-index: 8;
    @extend %opensans-700;
    line-height: 1;
    padding-right: 22px;

    &::after {
      right: 3px;
    }

    @include r(576) {
      font-size: 10px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    @include r(991) {
      flex-direction: column;
    }
  }

  &__show-more {
    margin: 0;
    padding: 10px 30px;
    letter-spacing: 0.03em;

    @include r(991) {
      align-self: center;
      padding: 12px 24px;
      margin-bottom: 50px;
    }

    @include r(576) {
      padding: 15px 24px;
      letter-spacing: 0.03em;
      margin-bottom: 25px;
      font-size: 18px;
    }
  }
}