.banners {
  padding: 0 0 70px;

  &__wrapper {
    display: flex;
    gap: 30px;

    @include r(1200) {
      font-size: 20px;
    }

    @include r(991) {
      flex-wrap: wrap;
    }

    @include r(576) {
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  &__descr {
    max-width: 80%;
    @extend %opensans-700;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    text-transform: uppercase;
    @include line-clamp(1);

    @include r(576) {
      margin-bottom: 15px;
    }
  }

  &__title {
    max-width: 160px;
    margin-bottom: 12px;
    font-size: 30px;
    text-align: left;
    color: $dark-500;
    letter-spacing: normal;
    @include line-clamp(2);

    @include r(576){
      font-size: 24px;
      margin-bottom: 70px;
    }
  }

  &__link {
    @extend %opensans-700;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: $dark-500;
    border-bottom: 2px solid $dark-500;
    @include line-clamp(1);

    @include r(576){
      @extend %opensans-700;
      font-size: 14px;
      line-height: 1;
      text-transform: uppercase;
      color: $dark-500;
      border-bottom: 2px solid $dark-500;
    }
  }

  &__banner {
    width: calc(25% - 15px);
    padding: 76px 32px;
    border-radius: 6px;
    @extend %bg-img-cover;

    &--veg {
      background-image: url('../images/banners/veg.jpg');

      @include r(991) {
        width: calc(50% - 15px);
      }

      @include r(576) {
        width: 100%;
      }
    }

    &--bread {
      background-image: url('../images/banners/bread.jpg');

      @include r(991) {
        width: calc(50% - 15px);
      }
      
      @include r(576) {
        width: 100%;
      }
    }

    &--big {
      width: 50%;
      background-image: url('../images/banners/big.jpg');
      color: #fff;
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);

      .banners__title {
        max-width: 360px;
        color: #fff;
      }

      .banners__link {
        color: #fff;
        border-color: #fff;
      }

      @include r(991) {
        width: 100%;
      }
      @include r(576){
        .banners__title {
          width: 250px;
        }
      }
    }

    @include r(1200) {
      padding: 45px 32px;
    }

    @include r(576) {
      padding: 80px 15px 30px;
    }
  }

  @include r(576) {
    padding: 25px 0 20px;
  }
}


  