.benefits {
  padding: 50px 0 30px;
  background-color: #F6F6F6;

  &__wrapper {
    display: flex;
    justify-content: center;

    @include r(576) {
      display: block;
    }
  }

  &__title {
    letter-spacing: 0.03em;
    margin-bottom: 5px;

    @include r(576) {
      margin-bottom: 7px;
      font-size: 15px;
    }
  }

  &__descr {
    @include r(576) {
      font-size: 14px;
    }
  }

  &__box {
    flex: 1 0;
    position: relative;
    padding-left: 75px;
    max-width: 260px;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
    }

    &--delivery {
      &:before {
        height: 45px;
        background-image: url('../images/benefits/delivery.svg');
      }
    }

    &--return {
      &:before {
        background-image: url('../images/benefits/return.svg');
      }
    }

    &--support {
      &:before {
        background-image: url('../images/benefits/24hours.svg');
      }
    }

    &:not(:last-child) {
      margin-right: 65px;
    }

    @include r(991) {
      flex: 1 1;
      padding-left: 60px;
      text-align: center;
      max-width: 245px;

      &:not(:last-child) {
        margin-right: 35px;
      }
    }

    @include r(768) {
      padding-left: 0;
      padding-top: 40px;

      &:before {
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    @include r(576) {
      padding: 30px 0;
      font-size: 13px;
      padding-left: 75px;
      padding-top: 0;
      max-width: 100%;
      text-align: left;
      &:last-child{
        padding-bottom: 0px;
      }
      &:before {
        top: 0;
        left: 30px;
      }
    }
  }

  @include r(576) {
    padding: 30px 0;
  }
}