.user-nav {
  display: flex;

  &__item {

    &:not(:last-child) {
      margin-right: 12px;
    }

    @include r(991) {
      &:not(:last-child) {
        margin-right: 0px;
      }

      &:nth-child(2) {
        display: none;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    @extend %bg-img-auto;
    @extend %transition;

    &:hover {
      background-color: rgba(#fff, 0.1);
    }

    &:focus {
      border: 1px solid #fff;
      box-shadow: inset 0px 0px 0px 1px $green-100;
      outline: transparent;
    }

    &:active {
      opacity: 0.5;
      border: none;
      box-shadow: none;
      outline: transparent;
    }

    &--search {
      display: none;

      @include r(820) {
        display: block;
        background-image: url('../images/icons/search-white.svg');
      }
    }

    &--user {
      background-image: url('../images/icons/user.svg');
    }

    &--heart {
      background-image: url('../images/icons/heart.svg');
    }

    &--cart {
      background-image: url('../images/icons/cart.svg');
    }

    @include r(556) {
      background-size: 25px 25px;
    }
  }

  &__num {
    position: absolute;
    top: 2px;
    left: 4px;
    display: block;
    padding-right: 1px;
    min-width: 18px;
    height: 18px;
    background-color: #fff;
    color: $red-900;
    @extend %opensans-600;
    font-size: 10px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    border-radius: 50%;
    text-align: center;
  }

  @include r(556) {
    top: 7px;
    left: 7px;
  }
}